<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="number" v-model="clockNum" /><br /><br />
      <div v-if="clockNum >= 18">
        마감임박! 아래 항목 중 마지막으로 남은 준비: 스탬프 찍기
      </div>

      <!-- <div v-else>
        아직 준비할 항목:
        <ul>
          <li v-for="(app, index) in apps" :key="index">-{{app}}</li>
        </ul> -->
      </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
      let vm = Vue.createApp({
        name: 'App',
        data() {
          return {
            clockNum: 0,
            apps: [' 편지 작성', ' 편지 검토', ' 봉투 밀봉', ' 스탬프 찍기'],
          };
        },
      }).mount('#app');
    </script>
  </body>
</html>
