.container {
  margin: 10px;
}

.readyButton {
  background-color: #fdb1b1;
  border-radius: 12px;
  text-align: center;
  padding: 15px 50px;
  border: none;
}
body {
  text-align: center;
}
.ment {
  background-color: #f1f2f6;
  border: 3px solid rgb(180, 180, 180);
  padding: 20px;
  border-radius: 20px;
}

.tip {
  background-color: #fdb1b1;
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
}

.random {
  border: 5px solid rgb(171, 171, 171);
  padding: 30px;
  margin: 10px;
  border-radius: 20px;
  background-color: #f0eeee;
}

.randomButton {
  padding: 15px;
  border-radius: 10px;
  background-color: #f6fa84;
  border: none;
}
