.app {
  background-color: #1e1e1e;
  color: #f0f0f0;
  padding: 30px;
  font-family: 'Segoe UI', sans-serif;
  max-width: 600px;
  margin: 50px auto;
  border-radius: 16px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
h2,
h4 {
  color: rgb(254, 163, 206);
}
.addButton {
  background-color: rgb(254, 163, 206);
  border-radius: 5px;
}

input {
  background-color: #474747;
}

.냥냥 {
  background-color: #474747;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex; /* Flexbox 컨테이너 설정 */
  justify-content: space-between; /* 요소들을 양쪽 끝으로 정렬 */
  align-items: center; /* 세로 가운데 정렬 (선택 사항) */
}

.x {
  border: none;
}
